*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    /* padding: 1px; */
}


#main{
    /* margin-top: 10px; */
    height: 100%;
    width: 100%;
    background-color: #ffdada;
    padding-top: 1px;
    position: relative;
    /* border-top: 5px solid black;
    border-bottom: 5px solid black; */
}


#nav{
    margin-top: 15px;
    /* padding: 10px; */
    height: 12vh;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-transform:capitalize ;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#nav h1{
    /* background-color:aqua; */
    /* border-right: 2px solid black; */
    /* padding-top: 5px; */
    height: 100%;
    /* background-color: #fff; */
    width: 42%;
    /* flex-wrap: wrap-reverse; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left:15px; */
    letter-spacing:-6px;
    font-weight: 900;
    font-size: 6vw;
    text-transform:uppercase;
    font-family: 'Courier New', Courier, monospace;
}

/* #tgline{ */
    /* background-color: #fff; */
    /* font-size: 5vmin; */
/* } */


#nav h2{
    /* margin: 2px; */
    /* background-color: #fff;  */
    /* font-weight: 500; */
    /* padding-top: 35px; */
    /* text-align:right; */
    /* justify-self: center;
    align-self: center; */
    height: 100%;
    width: 15%;
    /* color: #fff; */
    border-right: 1.6px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right:15px;  */
}  

#center{
    height: 90%;
    width: 100%;
    background-color: palevioletred;
    padding: 2vw;
    position: relative;
}

#content{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    /* padding: 2vw; */
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

#nav h2:hover{
    color: white;
    cursor: pointer;
}

#over2 h5:hover{
    font-size: 2vw;
    color: yellow;
    cursor: pointer;
}
#overlay{
    height:55%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.221);
    color: white;
    position: absolute;
    padding: 5vh;
    bottom: 0;
    /* mix-blend-mode:difference; */
}
#over1{
    font-size: 2vh;
    display: flex;
    padding-bottom: 35px;
    align-items: center;
    justify-content: space-between;
}

#over1 h2{
    /* bottom: 10; */
    /* padding-left: 4.5px;
    padding-top: 2.8px;
    width: 2.5vw;*/
    font-size: 6vh;
    /* height: 4vh; */
    /* border: 1px solid rgb(255, 255, 255);
    border-right: 4px solid rgb(255, 255, 255);
    border-radius: 50%; */
    animation: spin 2s linear  infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#over2{
    padding: 1.5vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, 0.556);
}

#over2 h5{
    /* top: 0 ; */
    font-size: 1.5vw;
    font-weight: 500;
}

#over2 img{
    height: 3vw;
}


/* #srch{
    background-color: #fff;
} */

/* #nav h2:nth-child(1){
    background-color: aquamarine;
} */

#scroll{
    /* margin-top:50px ; */
    height: 22vh;
    width: 100%;
    /* display: inline-block; */
    padding: 1vh;
    margin-top: 1.6vh;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    /* display: inline-block; */
    /* border-radius: 50%; */
}
#cont{
    display: inline-block;
    /* align-items:start; */
    /* justify-content: center; */
    /* background-color: rgba(255, 197, 50); */
    padding: 1.2vw;
    height: 22vh;
    /* padding: 1vw; */
    width: 110px;
    width: fit-content;    
    animation: scrolling 8s linear infinite;
    /* object-fit:fill; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

#scroll img{
    height:80%;
    border-radius: 50%;
    width: 12.5%;
    margin: 1vw;
    object-fit:cover;
    object-position: top;
}


@keyframes scrolling {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


#alphabet{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1.3vw; */
}

#alphabet h5{
    font-size: 1.7vw;
    padding: 10px;
    border-bottom: 3px solid black;
    /* border-radius: 50%; */
    cursor:pointer;
}

#alphabet h6{
    padding: 0.6vw 0.8vw;
    font-size: 1vw;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    letter-spacing: 2px;
    cursor:pointer;
}

#alphabet h5:hover{
    /* font-size: 2vw; */
    /* padding: 10px; */
    /* padding-left: 2.5px; */
    text-transform: uppercase;
    border: 3px solid black;
    /* border-radius: 50%; */
    cursor:pointer;
}

#alphabet h6:hover{
    border: 2px solid rgba(0, 0, 0);
}


#vaguge{
    height: 100px;
    width: 100%;
}

#page3{
    /* background-color: #ffdada; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    font-size: 1.5vw;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.358); */
}

#info{
    margin-top: 0.5vh;
    padding-bottom: 1vh;
    height: 15vh;
    width: 100%;
    /* color: black; */
    background-color: #3a2c2932;
    /* border-radius: 35%; */
    /* border-top: 2px solid black; */
    /* border-bottom:2px solid rgba(255, 106, 106, 0.581); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* transition: height 10s ease; */
    /* transition: width 2s ease; */
}

#info:hover{
    /* height: 30%; */
    /* width: 100%; */
    cursor: pointer;
    /* opacity: 1; */
    background-color: #3a2c298b;
}

/* @keyframes zoom {
    from{
        scale: 100%;
        color: white;
    }
    to{
        scale: 105%;
        color: black;
    }
} */



#info img{
    /* background-color: aqua; */
    margin-top: 1vh;
    opacity: 0.15;
    height: 100%;
    width: 10%;
    /* position: absolute; */
    /* left: 15%; */
    object-fit: fill;
    border-radius: 50%;
    border: 1.5px solid white;
    transition: all ease 0.5s;
}

#info img:hover{
    opacity: 1;
    /* left:40%;x */
}


#info h6{
    /* animation: zoom 2s linear; */
    /* color: #ffdada(255, 106, 106); */
    text-align: center;
    margin-right: 130px;
    color: rgb(0, 0, 0);
    font-size: 1.7vw;
    font-weight: 500;
    padding-left: 5vw;
}

#info h6:hover{
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    font-weight: 900;
    /* scale: 110%; */
}

#info h1{
    /* color: #ffdada(255, 106, 106); */
    margin-right: 130px;
    color: rgb(255, 238, 238);
    font-size: 1.9vw;
    font-weight:900;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    from{
        color: rgb(0, 255, 26);
    }   
    to{
        color: rgb(0, 187, 255);
    } 
}

#child{
    object-fit:contain;
}




#nav h1::before{
    content: "for your pookie";
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 1px;
    position: absolute;
    top: 11%;
    left: 19.2%;
}
#nav h1::after{
    content: "©️";
    font-size: 25px;
    letter-spacing: 1px;
    position: absolute;
    top: 3.9%;
    left: 33.7%;
}

#strip{
    margin-top: 30px;
    background-color: rgba(255, 235, 205, 0.5);
    height: 10vh;
    width: 100%;
    border-top: 5px dotted black;
    border-bottom:5px dotted black;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    /* padding: 0.2vw; */
}

#strip h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4vw;
    /* overflow-x: auto;
    overflow-y: hidden; */
    /* background-color: red; */
    display: inline-block;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: rgb(219, 141, 141);
    letter-spacing:1.5px;
    margin-right: 12px;
    animation-name: scr;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scr {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#footer{
    margin-top: 75px;
    /* padding: 10px; */
    /* height: 12vh; */
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-transform:capitalize ;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    height: 20vh;
    /* background-color: #fff; */
    text-align: center;
}

#footer h2{
    border-right: 1.5px solid black;
    height: 100%;
    width: 14%;
    padding-top: 30px;
    font-weight: 100;
    /* background-color: antiquewhite; */
    /* positiosjn: absolute; */
    /* top: 50%; */
}

#footer h1{
    padding-top: 30px;
    height: 100%;
    /* width: ; */
    /* background-color: aqua; */
    /* height: 100%; */
    /* background-color: #fff; */
    width: 35%;
    /* flex-wrap: wrap-reverse; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding-left:15px; */
    letter-spacing:-6px;
    font-weight: 900;
    font-size: 6vw;
    text-transform:uppercase;
    font-family: 'Courier New', Courier, monospace;
}

#last{
    
    height: 100%;
    width: 35%;
    /* background-color: #3a2c2932; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items:start; */
    /* border-right: 2px solid black; */
}

#last h3{
    font-weight: 100;
    width: 100%;
    padding: 30px;
    border-bottom: 1.5px solid black;
}

#last h4{
    /* background-color: black; */
    text-align: left;
    padding: 15px;
    padding-left: 11.5vw;
    font-weight: 100;
}
