*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    /* padding: 1px; */
}


#main{
    /* margin-top: 10px; */
    height: 100%;
    width: 100%;
    background-color: #ffdada;
    padding-top: 1px;
    position: relative;
    /* border-top: 5px solid black;
    border-bottom: 5px solid black; */
}


#nav{
    margin-top: 15px;
    /* padding: 10px; */
    height: 12vh;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-transform:capitalize ;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#nav h1{
    /* background-color:aqua; */
    /* border-right: 2px solid black; */
    /* padding-top: 5px; */
    height: 100%;
    /* background-color: #fff; */
    width: 42%;
    /* flex-wrap: wrap-reverse; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left:15px; */
    letter-spacing:-6px;
    font-weight: 900;
    font-size: 6vw;
    text-transform:uppercase;
    font-family: 'Courier New', Courier, monospace;
}

/* #tgline{ */
    /* background-color: #fff; */
    /* font-size: 5vmin; */
/* } */


#nav h2{
    /* margin: 2px; */
    /* background-color: #fff;  */
    /* font-weight: 500; */
    /* padding-top: 35px; */
    /* text-align:right; */
    /* justify-self: center;
    align-self: center; */
    height: 100%;
    width: 15%;
    /* color: #fff; */
    border-right: 1.6px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right:15px;  */
}  

#center{
    height: 90%;
    width: 100%;
    background-color: palevioletred;
    padding: 2vw;
    position: relative;
}

#content{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    /* padding: 2vw; */
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

#nav h2:hover{
    color: white;
    cursor: pointer;
}

#over2 h5:hover{
    font-size: 2vw;
    color: yellow;
    cursor: pointer;
}
#overlay{
    height:55%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.221);
    color: white;
    position: absolute;
    padding: 5vh;
    bottom: 0;
    /* mix-blend-mode:difference; */
}
#over1{
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#over1 h2{
    /* padding-left: 4.5px;
    padding-top: 2.8px;
    width: 2.5vw;
    height: 4vh; */
    border: 1px solid rgb(255, 255, 255);
    border-right: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    animation: spin 2s linear  infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#over2{
    padding: 1.5vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, 0.556);
}

#over2 h5{
    /* top: 0 ; */
    font-size: 1.5vw;
    font-weight: 500;
}

#over2 img{
    height: 3vw;
}


/* #srch{
    background-color: #fff;
} */

/* #nav h2:nth-child(1){
    background-color: aquamarine;
} */

#scroll{
    /* margin-top:50px ; */
    height: 22vh;
    width: 100%;
    /* display: inline-block; */
    padding: 1vh;
    margin-top: 1.6vh;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    /* display: inline-block; */
    /* border-radius: 50%; */
}
#cont{
    display: inline-block;
    /* align-items:start; */
    /* justify-content: center; */
    /* background-color: rgba(255, 197, 50); */
    padding: 1.2vw;
    height: 22vh;
    /* padding: 1vw; */
    width: 110px;
    width: fit-content;    
    animation: scrolling 8s linear infinite;
    /* object-fit:fill; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

#scroll img{
    height:80%;
    border-radius: 50%;
    width: 12.5%;
    margin: 1vw;
    object-fit:cover;
    object-position: top;
}


@keyframes scrolling {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


#alphabet{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1.3vw; */
}

#alphabet h5{
    font-size: 1.7vw;
    padding: 10px;
    border-bottom: 3px solid black;
    /* border-radius: 50%; */
    cursor:pointer;
}

#alphabet h6{
    padding: 0.6vw 0.8vw;
    font-size: 1vw;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    letter-spacing: 2px;
    cursor:pointer;
}

#alphabet h5:hover{
    font-size: 2vw;
    padding: 10px;
    padding-left: 1.8px;
    text-transform: uppercase;
    border: 3px solid black;
    /* border-radius: 50%; */
    cursor:pointer;
}

#alphabet h6:hover{
    border: 2px solid rgba(0, 0, 0);
}


#vaguge{
    height: 100px;
    width: 100%;
}
